.chartBubble {
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
}
html, body {
  height: 100%;
  margin: 0;
  color: 
  background-color: rgb(36, 36, 36);
  /* background-color: rgb(247, 247, 247); */
}
.landingPage {
  display: flex;
  height: 75vw;
  width: 100vw;
}

.navBar {
  display: flex;
  flex-direction: column;
  
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
  height: 500px;
  margin: 20px;
  padding: 10px;
  justify-content: space-between;
}

.about a, .contact a, .home a, .logout a {
  text-decoration: none;
  color: black;
  margin: 200px 5px;
}

.addCard {
  display: flex;
  width: fit-content;
  margin: 20px;
}

.addCard .add {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.functionCards{
  border: 1px solid black;
  margin: 20px;
  border-radius: 5px;
}

.stepFunc {
  position: fixed; 
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1); 
}

.stepFunc form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.stepFunc form label, .stepFunc form input, .stepFunc form button {
  margin: 5px 20px;
}

.stepFunc form label, .stepFunc form button {
  border-radius: 5px;
}

/* slider */
.slidecontainer {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 25px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4e77ff;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

#graph-style{
  margin-left: auto;
  margin-right: auto;
  border: solid black;
}

.dv-btn{
  background-color: #4e77ff;
  opacity: 0.9;
  height: 30px;
  width:60px;
  margin: 5px;
  box-shadow: 3px 3px 0px 0px black;
}

.dv-btn:hover{
  opacity: 1;
  /* width: 100px;
  height: 50px; */
}
/* #detailed-view{

  width: 40%;
  background-color: blue;
} */